.spinMainContext, .otherData {
    max-width: 1000px;
    margin: auto;
    padding: 10px;
}

.spinMainContext {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.dataBox {
    width: 40%;
    min-width: 200px;
    max-width: 400px;
    height: 200px;
    border: 10px solid gray;
    border-radius: 50px;
    margin-bottom: 30px;
}

.dataBox span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
}

.otherData {
    display: flex;
    flex-direction: column;
}

.spinBtn {
    font-size: 30px;
    height: 75px;
    border: 2px solid gray;
    border-radius: 20px;
    cursor: pointer;
}

.outcome {
    font-size: 22px;
    border: 5px solid gray;
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 75px;
}

.spinner {
    display: inline-block;
    white-space: nowrap;
    transform: translateY(-25%);
    animation: spinText 0.2s infinite linear;
}

@keyframes spinText {
    to {
        transform: translateY(25%);
    }
}

@media (max-width: 600px) {
    .spinMainContext {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dataBox {
        width: 100%;
    }
}

@media (max-width: 1000px) {

}